/announce-email.txt
/vote-email.txt
/rake
/pkg
/failed
/buildr.pdf
/rdoc
/_reports
/_site
/_snapshot
/_staged
/_release
/tmp
*.swp
/*.log
/_all-in-one
/nbproject
/.rakeTasks
/*.iml
/*.ipr
/*.iws
/setup.*
/libs
/Gemfile.lock
*.rbc
/site
/lib/buildr/scala/org/apache/buildr/Specs2Runner.class
