body {
  background-color: #fff;
  color: #000;
  font-family: "DejaVu Sans", Verdana, Helvetica, sans-serif;
  text-align: center;
	line-height: 1.5em;
}

a:link, a:visited{
  color: #0044b3;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

img {
  border: none;
}

pre, code { font-family: "DejaVu Sans Mono", "Courier New", "Courier"; }
pre { padding: 1em; }
pre.wrapped {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

h1, h2, h3 {
  padding: 0.3em;
  margin: 2.5em 0 0.5em -0.3em;
  line-height: 1.25em;
  letter-spacing: 0.03em;
}

h1 {
  border-bottom: 1px solid #808080;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid #a0a0a0;
  font-size: 1.3em;
}

h3 {
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.1em;
}

blockquote {
	padding-left: 2em;
	padding-right: 2em;
	margin-left: 0.3em;
  margin-right: 0;
	border-left: 1px solid #3c78b5;
}

ul { 
  list-style-ty pe: disc;
}

ul ul {
  list-style-type: disc;
  padding-left: 1em;
}

table {
  border-spacing: 0.2em 0;
}

th, td {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-bottom: 1px solid #D8D8D8;
  vertical-align: top;
  background-color: #FFFFFF;
}

th {
  border-bottom: none;
  background-color: #E5E5E5;
  text-align: left;
}


#wrap{
  margin: 1em auto 2em auto;
  text-align: left;
  width: 60em;
}


#header {
  margin: 0;
}

#header img {
  margin: 0 0 1em 0em;
}

#header .tagline {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  bottom: 4.5em;
}


#pages { /* Parent Wrapper for inside boxes */
/*  display: inline; */ /* IE Hack */
  width: 12em;
  float: left;
  text-align: left;
  margin-right: 2em;
}

#pages ol {
  list-style: none;
  font-weight: bold;
  padding: 0;
}

#pages ol li {
  border-top: 1px solid #E9E9E9;
  padding: 0.3em 0 0.5em 0.5em;
}

#pages ol li a:link,  #pages ol li a:visited  {
  color: #606060;
  text-decoration: none;
}

#pages ol li a:hover {
  color: #222;
  text-decoration: none;
}

#pages form {
  margin-top: 2em;
  padding: 0.3em 0 0.5em 0.5em;
}


#content { /* Parent Wrapper for inside boxes */
/*  display: inline; *//* IE Hack */
  float: right;
  width: 44em;
  margin-left: 0.3em;
  margin-bottom: 5em;
}

ol.toc {
  list-style: none;
  padding: 0;
  margin-bottom: 2em !important;
}

ol.toc li {
  padding: 0.3em 0 0.3em 0 !important;
  margin: 0;
}

ol.toc ol.toc {
  list-style: none;
  margin: 0.3em 0 0 0 !important;
  padding: 0;
}

ol.toc ol.toc li {
  padding-left: 0.5em !important;
}


#content p.tip, #content p.note {
  margin: 0.9em 0 0 0;
  padding: 0 0 2em 4em;
}
#content p.tip { background: url("../images/tip.png") 0 0 no-repeat; }
#content p.note { background: url("../images/note.png") 0 0 no-repeat; }
 
#content .footnote {
  margin-top: 2.5em;
}
#content .footnote {
  padding-top: 1.5em;
  border-top: 1px solid #ccc;
}
#content .footnote + .footnote {
  margin-top: 0.5em;
  padding-top: 0;
  border: none;
}
#content .footnote sup { font-weight: bold; }

#content .footnote-links dt { font-weight: bold; }
#content .footnote-links dt:after { content: ": " }
#content .footnote-links dd { }


#footer {
  border-top: 1px solid #444;
  font-size: 0.9em;
  padding: 0.3em;
  margin: 2em 0 3em 0em;
  clear: both;
}
